@import '/src/styles/settings';
@import '/src/styles/theme';

.ca-header {
  $logo-size: 36px;
  align-items: center;
  background-color: $theme-header-background;
  box-shadow: $theme-border-color 0 1px 0;
  color: $theme-header-text-color;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
  img {
    height: $logo-size;
    width: $logo-size;
  }
}
