$theme-color-primary: $ca-color-blue;

$theme-border-color: $ca-color-grey-light;
$theme-text-color: $ca-color-black;
$theme-header-background: $ca-color-white;
$theme-header-height: 70px;
$theme-header-text-color: $theme-text-color;
$theme-footer-background: $ca-color-white;
$theme-footer-height: 70px;
$theme-footer-text-color: $theme-text-color;
$theme-font-base: $ca-font-type-lato;
$theme-link-color: $ca-color-blue;
