@import '/src/styles/settings';
@import '/src/styles/theme';

.character-card {
  $imageSize: 108px;
  border: 1px solid $theme-border-color;
  border-radius: 0 0 ($imageSize / 2) 0;
  display: flex;
  flex-direction: column;
  margin: $ca-base-2;
  &__header {
    display: flex;
    flex-direction: row;
    &__image {
      border-radius: 0 0 50%;
      background-color: $ca-color-grey-light;
      height: $imageSize;
      width: $imageSize;
      img {
        border-radius: 0 0 50%;
        width:$imageSize;
      }
    }
    &__title {
      padding: $ca-base-2 $ca-base-4 $ca-base-4 $ca-base-4;
      p {
        margin: 0 5px 0 0;
        line-height: 1.5;
      }
    }
  }

  &__body {
    padding: $ca-base-2 $ca-base-4 $ca-base-2 $ca-base-4;
    &__info {
      @extend .ca-text-base-m;
      line-height: 1.1;
      label {
        display: inline-block;
        font-weight: bold;
      }
      span {
        display: inline-block;
        margin-left: $ca-base;
      }
    }
  }

  &-info {

  }
}

.character-status {
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  &--alive {
    background-color: green;
  }
  &--dead {
    background-color: red;
  }
}
