@import '/src/styles/settings';

.character-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.character-list-item {
  width: 33%;
}

@media only screen and (max-width: $ca-bp-sm) {
  .character-list-item {
    width: 50%;
  }
}

@media only screen and (max-width: $ca-bp-xs) {
  .character-list-item {
    width: 100%;
  }
}
