<div
  class="character-list"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="75"
  (scrolled)="onScroll()"
>
  <ng-container *ngIf="characters.length">
    <div *ngFor="let item of characters; trackBy: trackById" class="character-list-item">
      <ca-character [character]="item" [episodeList]="episodes"></ca-character>
    </div>
  </ng-container>
  <div *ngIf="isLoading" class="character-list-item character-list-item--warning">
    Loading...
  </div>
  <div *ngIf="!isLoading && !characters.length" class="character-list-item character-list-item--warning">
    No characters available.
  </div>
</div>


