@import '/src/styles/settings';

.character-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.character-list-item {
  width: 33%;
  &--warning {
    @extend .ca-text-bold-xl;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
  }
}

@media only screen and (max-width: $ca-bp-sm) {
  .character-list-item {
    width: 50%;
  }
}

@media only screen and (max-width: $ca-bp-xs) {
  .character-list-item {
    width: 100%;
  }
}
